body{
    height: 1125px;
    background-image: url("images/background.png");

}
#minimap{
    height: 300px;
    width: 300px;
    float: right;
    margin-right: 60px;
    outline: 2px solid black;
}
.element_minimap{
    max-width: 60px;
    max-height: 60px;
    float: right;
}
#container {
    height: 1100px;
    width: 1100px;
    outline: 1px solid black;
    margin: 50px auto;

}
.w {
    background-color: black;
    height: 100px;
    width: 100px;
    float: left;
}

#vertical_road {
    background-image: url("images/road_vertical.png");
}

#horizontal_road {
    background-image: url("images/road_horizontal.png");
}

#water_1 {
    background-image: url("images/woda_1.png");
}

#water_2 {
    background-image: url("images/woda_2.png");
}

#waterfall {
    background-image: url("images/waterfall.png");
}

#water_3 {
    background-image: url("images/woda_3.png");
}

#water_4 {
    background-image: url("images/woda_4.png");
}


#water_horizontal {
    background-image: url("images/water.png");
}

#bridge_2 {
    background-image: url("images/bridge_horizontal.png");
}

#water_vertical {
    background-image: url("images/water_2.png");
}


#cross_road {
    background-image: url("images/cross_road.png");
}
#grass {
    background-image: url("images/grass.png");
}

#right_down {
    background-image: url("images/dr_5.png");
}

#right_up {
    background-image: url("images/dr_2.png");
}

#left_down {
    background-image: url("images/dr_3.png");
}

#left_up {
    background-image: url("images/dr_4.png");
}

#bridge {
    background-image: url("images/bridge_vertical.png");
}

#t_up {
    background-image: url("images/t_up.png");
}
#t_down {
    background-image: url("images/t_down.png");
}
#t_right {
    background-image: url("images/t_right.png");
}

#t_left {
    background-image: url("images/t_left.png");
}

#stairs {
    background-image: url("images/schody.png");
}

#door {
    background-image: url("images/door.png");
}

#window {
    background-image: url("images/window.png");
}

#beach_corner_1 {
    background-image: url("images/beach_corner_1.bmp");
}

#beach_corner_2 {
    background-image: url("images/beach_corner_2.bmp");
}

#beach_right {
    background-image: url("images/beach_right.bmp");
}

#beach_down {
    background-image: url("images/beach_down.bmp");
}

#beach_left {
    background-image: url("images/beach_left.bmp.bmp");
}

#water_full {
    background-image: url("images/woda.png");
}

#temple {
    background-image: url("images/temple.png");
}

#flowers {
    background-image: url("images/flowers.png");
}

#wall {
    background-image: url("images/wall.png");
}

#wall_2 {
    background-image: url("images/wall_2.png");
}

#wall_3 {
    background-image: url("images/wall_3.png");
}

#ruins_1 {
    background-image: url("images/ruins_1.bmp");
}

#ruins_2 {
    background-image: url("images/ruins_2.bmp");
}

#water_merge {
    background-image: url("images/water_merge.png");
}

#water_merge_2 {
    background-image: url("images/water_merge_2.png");
}

#water_right {
    background-image: url("images/water_right.png");
}

#water_left {
    background-image: url("images/water_left.png");
}

#block {
    background-image: url("images/block.png");
}

#area {
    background-image: url("images/area.bmp");
}

:root {
    --pixel-size: 10;
}

#Character {
    width: calc(16px * var(--pixel-size));
    height: calc(16px * var(--pixel-size));
    overflow: hidden;
    position: relative;
    margin: 4em auto;
}

.Character_spritesheet {
    animation: moveSpritesheet 0.75s steps(10) infinite;
    width: calc(175px * var(--pixel-size));
    position: absolute;

}
.Character_shadow {
    position: absolute;
    top: 43px;
    left: 40px;
    width: calc(8px * var(--pixel-size));
    height: calc(8px * var(--pixel-size));
}

.pixelart {
    image-rendering: pixelated;
}

.face-right {
    top: calc(-100px * var(--pixel-size));
}

.face-up {
    top: calc(-150px * var(--pixel-size));
}

.face-left {
    top: calc(-200px * var(--pixel-size));
}

.screen {
    height: 1100px;
    width: 1100px;
    outline: 1px solid black;
    margin: 50px auto;
    background-image: url("images/grass.png");
    text-align: center;
    position: relative;


}

button {
    -ms-transform: translateY(750%);
    transform: translateY(750%);
    border: none;
    appearance: none;
    outline: none;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 48px 12px 48px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #003333;
    border: 2px solid #ffffff;
}


@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}